/* Dashboard.css */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container > * {
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
